.squares{
    display: flex;
    .s1{
        box-sizing: border-box;
        margin: 5px;
        border: 1px solid grey;
        
    }
    .s2{
        box-sizing: border-box;
        margin: 5px;
        border: 1px solid grey;
        
    }
    .s3{
        box-sizing: border-box;
        margin: 5px;
        border: 1px solid grey;
        
    }
    .s4{
        box-sizing: border-box;
        margin: 5px;
        border: 1px solid grey;
        
    }
}