<div class="squares">
    <div (click)="setTitlesByCWH()" class="s1" style="background: papayawhip; width: 50px;height: 50px;" #squareElement></div>
    <div (click)="setTitlesByCWH()"class="s2" style="background: plum;width: 60px;height: 60px;" #squareElement></div>
    <div (click)="setTitlesByCWH()" class="s3" style="background: powderblue; width: 70px;height: 70px;" #squareElement></div>
    <div (click)="setTitlesByCWH()" class="s4" style="background: rebeccapurple;width: 80px;height: 80px;" #squareElement></div>
    <hr>
    <p>A négyzet színe: {{colorTitle}} </p>
    <hr>
    <p>A négyzet szélessége: {{widthTitle}} </p>
    <hr>
    <p>A négyzet magassága: {{heightTitle}} </p>
    <hr>
</div>