<div class="squares">
    <div (click)="setTitlesByCWH('papaya, 50px, 50px')" class="s1" style="background: papayawhip" #papayaSqure></div>
    <div (click)="setTitlesByCWH('plum, 60px, 60px')"class="s2" style="background: plum" #plumSquare></div>
    <div (click)="setTitlesByCWH('powderblue, 70px, 70px')" class="s3" style="background: powderblue" #powderblueSquare></div>
    <div (click)="setTitlesByCWH('rebeccapurple, 80px, 80px')" class="s4" style="background: rebeccapurple" #rebeccapurpleSquare></div>
    <p>A négyzet színe: {{color}} </p>
    <p>A négyzet szélessége: {{width}} </p>
    <p>A négyzet magassága: {{height}} </p>
</div>